/* Responsive */
@media screen and (max-width: 1320px) {
  /* About Us page */
  .text-content p {
    font-size: 1.5rem;
  }

  /* Photos page */
  .photos {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(11, 5vw);
  }
  .gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .gallery-item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .gallery-item-3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 8;
  }
  .gallery-item-4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 8;
  }
  .gallery-item-5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 11;
  }
  .gallery-item-6 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 14;
  }
  .gallery-item-7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 11;
    grid-row-end: 14;
  }
}

@media screen and (max-width: 1220px) {
  /* About Us page */
  .text-content p {
    font-size: 1.3rem;
  }
  .img-content img {
    width: 320px;
  }

  /* Contact page */
  .contact-options ol li {
    font-size: 1.2rem;
  }
  .contact-info {
    font-size: 1.4rem;
  }
  .material-symbols-outlined {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 1090px) {
  /* About Us page */
  .text-content p {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
  .opening-hours-heading .sub-title {
    font-size: 2.8rem;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .opening-hours {
    padding-left: 25px;
    padding-right: 25px;
  }
  .hours-box p {
    top: 0;
    right: 10px;
  }
  .hours-box p,
  .hours-box span {
    font-size: 2rem;
  }
}

@media screen and (max-width: 900px) {
  /* Reuse properties */
  .title,
  .sub-title {
    font-size: 7rem;
  }
  /* Home page */
  .logo {
    width: 90px;
  }
  .nav-bar ul li a {
    font-size: 1.6rem;
  }

  /* About Us page */
  .text-content p {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  .hours-box p,
  .hours-box span {
    font-size: 1.6rem;
  }

  /* Contact page */
  .input-info,
  textarea::placeholder {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 681px) {
  /* Reuse properties */
  .title,
  .sub-title {
    font-size: 6rem;
  }
  /* Home page */
  .logo {
    width: 80px;
  }
  .nav-bar ul li a {
    font-size: 1.2rem;
    margin: 5px;
  }

  /* About Us page */
  .text-content h1 {
    font-size: 2.6rem;
  }

  .text-content p {
    font-size: 1.1rem;
  }
  .opening-hours-heading .sub-title {
    font-size: 2.6rem;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  .hours-box p,
  .hours-box span {
    font-size: 1.4rem;
  }

  /* Photos page */
  .photos {
    display: block;
  }
  .gallery-img {
    padding-bottom: 10px;
  }
  .gallery-item:nth-child(4),
  .gallery-item:nth-child(5) {
    height: 500px;
  }

  /* Contact page */
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-info {
    padding-left: 20px;
  }
  .form-contact {
    display: block;
    width: 400px;
  }
  .form-info {
    padding-top: 10px;
  }
  .form-btn {
    margin-top: 15px;
  }
  .contact-info:first-child {
    padding-top: 35px;
  }
}

@media screen and (max-width: 550px) {
  /* Reuse properties */
  .title,
  .sub-title {
    font-size: 4.8rem;
  }
  .nav-bar ul {
    display: flex;
  }
  .nav-bar ul li a {
    margin: 4px;
    padding: 3px 10px;
    font-size: 1.2rem;
  }
  .nav-bar ul li:nth-child(3) {
    order: -1;
    position: relative;
    right: 30px;
  }

  /* About Us page */
  .text-content h1 {
    font-size: 2.5rem;
  }
  .text-content p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .opening-hours {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .hours-box {
    height: 250px;
  }
  .monday,
  .bank-holiday {
    height: 100px;
  }
  .monday .hours-box,
  .bank-holiday .hours-box {
    height: 100%;
  }

  /* Photos page */
  .photos {
    display: block;
  }
  .gallery-img {
    padding-bottom: 10px;
  }

  /* Contact page */
  .contact-options p {
    font-size: 1.5rem;
  }
  .contact-options ol li {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 450px) {
  /* Reuse properties */
  .title,
  .sub-title {
    font-size: 3.8rem;
  }
  .nav-bar ul li a {
    margin: 4px;
    padding: 3px 6px;
    font-size: 1.1rem;
  }
  .nav-bar ul li:nth-child(3) {
    order: -1;
    position: static;
  }
  .logo {
    width: 50px;
  }

  /* About Us page */
  .text-content h1 {
    font-size: 2.3rem;
  }
  .text-content p {
    font-size: 0.9rem;
  }
  .text-content p:nth-child(2) {
    display: none;
  }

  /* Contact page */
  .form-contact {
    width: 100%;
  }
  .contact-info p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  /* Reuse properties */
  .title,
  .sub-title {
    font-size: 2.8rem;
  }
  .nav-bar ul li a {
    margin: 2px;
    padding: 1px 5px;
    left: 0;
    font-size: 1rem;
  }
  .logo {
    width: 40px;
  }

  /* About Us page */
  .opening-hours-heading .sub-title {
    font-size: 2.3rem;
  }
  .hours-box {
    height: 200px;
  }
  .bank-holiday .hours-box p,
  .bank-holiday .hours-box span {
    font-size: 1rem;
  }
  .monday,
  .bank-holiday {
    height: 50px;
  }
  .monday .hours-box,
  .bank-holiday .hours-box {
    height: 100%;
  }

  /* Contact page */
  .contact-info p {
    padding-left: 5px;
    font-size: 0.9rem;
  }
  .material-symbols-outlined {
    font-size: 1.7rem !important;
    font-weight: 100 !important;
  }
}
