/* Importing Lobster font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* Importing Yanone Kaffeesatz from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;700&display=swap");

/* Default settings */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Lobster", sans-serif;
  color: #fff;
}

ul {
  list-style: none;
}

header {
  height: 100vh;
  background-blend-mode: luminosity;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Reuse Properties */
aside {
  background-color: #84330b;
  padding: 5vh 0;
}

.container {
  max-width: 1440px;
  margin: auto;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.title,
.sub-title {
  color: #fff;
  align-items: center;
  display: flex;
  font-size: 9rem;
  text-align: center;
  text-transform: capitalize;
  flex: 1;
}

/* header starts */
.header-home {
  background: url(../img/background-home.jpeg);
  background-color: #501f0799;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar {
  padding-top: 20px;
  height: 100px;
  max-width: 1440px;
  margin: auto;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar ul li a {
  padding: 10px 20px;
  margin: 10px;
  font-size: 2rem;
  color: #fff;
  text-transform: capitalize;
  transition: color 400ms;
}

.nav-bar ul li a:hover {
  color: #84330b;
}

.logo {
  width: 130px;
}

/* header ends */

/* about starts */
.header-about {
  background-image: url("../img/background-about.jpeg");
  background-color: #501f0799;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh; /* height: 95vh to show that we can scroll down to the content */
}

/* about starts */
.about {
  display: flex;
  align-items: center;
}

.text-content {
  padding: 0 40px;
}

.text-content p {
  font-size: 1.8rem;
  line-height: 1.7rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
  letter-spacing: 0.1rem;
}

.img-content img {
  max-width: 400px;
  padding-right: 50px;
}
/* about ends */

/* photos starts */
.header-photos {
  background-image: url(../img/background-photos.jpeg);
  background-color: #501f0799;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh; /* height: 95vh to show that we can scroll down to the content */
}

.photos {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(13, 5vw);
  gap: 10px;
  padding: 0 15px;
}

/* Setting the gallery properties starts */
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery-item-2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery-item-3 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 8;
}

.gallery-item-4 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 8;
}

.gallery-item-5 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 11;
}

.gallery-item-6 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 8;
  grid-row-end: 14;
}

.gallery-item-7 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 14;
}

/* Setting the gallery properties ends */

/* photos ends */

/* contact starts */
.header-contact {
  background-image: url("../img/background-contact.jpeg");
  background-color: #501f0799;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh; /* height: 95vh to show that we can scroll down to the content */
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10px;
}

.contact-options {
  grid-column: 1/3;
  margin: auto;
}

.contact-options ol li {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.contact-options span {
  font-style: italic;
}

.contact-options p {
  text-align: center;
  padding-bottom: 10px;
  font-size: 2rem;
}

.contact-info-div {
  order: 3;
}

.contact-info {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 300;
  padding-left: 30px;
}

.contact-info p {
  padding-left: 10px;
}

.material-symbols-outlined {
  font-size: 2.4rem !important;
  font-weight: 100 !important;
}

/* Styling the form starts */
.form-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  border-radius: 8px;
  padding: 30px 30px;
}

.form-contact label {
  font-size: 1.5rem;
}

.input-info {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  height: 60px;
  color: #fff;
  padding-left: 10px;
  margin-top: 5px;
  font-size: 1.3rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.input-info::placeholder,
textarea::placeholder {
  color: #fff;
}

input[type="date"] {
  display: block;
}

/*  */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(1);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

.input-info:focus,
textarea:focus {
  outline: none !important;
}

/* Styling textarea */

textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-left: 10px;
  margin-top: 5px;
  font-size: 1.3rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.submit-warning {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

/* Styling the button form */
button {
  height: 40px;
  cursor: pointer;
  border: 1px solid #fff;
  margin-bottom: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  transition: font-size 400ms;
}

button:hover {
  font-size: 1.1rem;
}

/* Styling the form ends */
/* contact ends */

/* footer starts */

footer {
  color: #fff;
  background-color: #1c1b1ce0;
  padding: 20px;
  text-align: center;
}

.social-media {
  display: flex;
  align-items: center;
  grid-column: 2/3;
}

.social-media-icon {
  width: 2.5rem;
  margin-right: 15px;
}

/* Booking message style */
.booking {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #84330b;
}

.booking img {
  width: 200px;
}

.booking h1 {
  color: #fff;
  font-size: 5rem;
  max-width: 1200px;
  padding: 60px 30px;
}

.booking-btn a {
  font-family: "Yanone Kaffeesatz", sans-serif;
  border: 3px solid #fff;
  color: #fff;
  padding: 25px 65px;
  border-radius: 4px;

  font-size: 1.8rem;
  transition: border-color 400ms, color 400ms;
}

.booking-btn a:hover {
  color: #1c1b1ce0;
  border-color: #1c1b1ce0;
}
