/* Importing Playfair and Playfair Display font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair:opsz,wght@5..1200,300;5..1200,400;5..1200,700&display=swap");

/* Default settings */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", sans-serif;
  color: #fff;
}

ul {
  list-style: none;
}

header {
  height: 100vh;
  background-blend-mode: luminosity;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Reuse Properties */
aside {
  background-color: #84330b;
  padding: 5vh 0;
}

.container {
  max-width: 1440px;
  margin: auto;
  font-family: "Playfair", sans-serif;
}

.title,
.sub-title {
  color: #fff;
  align-items: center;
  display: flex;
  font-size: 9rem;
  text-align: center;
  text-transform: capitalize;
  flex: 1;
}

/* header starts */
.header-home {
  background: url(../img/background-home.jpeg);
  background-color: #501f0799;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar {
  padding-top: 20px;
  height: 100px;
  max-width: 1440px;
  margin: auto;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar ul li a {
  padding: 10px 20px;
  margin: 10px;
  font-size: 2rem;
  color: #fff;
  text-transform: capitalize;
  transition: color 400ms;
}

.nav-bar ul li a:hover {
  color: #84330b;
}

.logo {
  width: 130px;
}

/* header ends */

/* about starts */
.header-about {
  background-image: url("../img/background-about.jpeg");
  background-color: #501f0799;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh; /* height: 95vh to show that we can scroll down to the content */
}

.text-content {
  padding: 0 20px;
  border-left: 2px solid #fff;
  margin-left: 20px;
}

.text-content h1 {
  font-size: 3rem;
  padding-bottom: 10px;
}

.text-content p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  padding-bottom: 10px;
}

.img-content img {
  max-width: 400px;
  padding-right: 50px;
}

/* Opening Hours starts */
.opening-hours-heading .sub-title {
  display: block;
  font-size: 3rem;
  padding-top: 60px;
  padding-bottom: 40px;
}

.opening-hours {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(16, 3.5vw);
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  gap: 10px;
}

.hours-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 300ms;
}

.hours-box:hover {
  opacity: 1;
}

.hours-box p {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2.4rem;
  text-transform: capitalize;
}

.hours-box span {
  font-size: 2.4rem;
}

.monday {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
  border: 1px solid #0000001b;
  border-radius: 4px;
  background-color: #00000041;
}

.tuesday {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 7;
  height: 100%;
  border-radius: 4px;
  background-image: url(/assets/img/photo-about-hour-1.jpeg);
  background-size: cover;
}

.wednesday {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 11;
  height: 100%;
  border-radius: 4px;
  background-image: url(/assets/img/photo-about-hour-2.jpeg);
  background-size: cover;
}

.thursday {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 8;
  height: 100%;
  border-radius: 4px;
  background-image: url(/assets/img/photo-about-hour-3.jpeg);
  background-size: cover;
}

.friday {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 12;
  height: 100%;
  border-radius: 4px;
  background-image: url(/assets/img/photo-about-hour-4.jpeg);
  background-size: cover;
}

.saturday {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 15;
  height: 100%;
  border-radius: 4px;
  background-image: url(/assets/img/photo-about-hour-6.jpeg);
  background-size: cover;
}

.sunday {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 12;
  grid-row-end: 15;
  height: 100%;
  border-radius: 4px;
  background-image: url(/assets/img/photo-about-hour-5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bank-holiday {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 15;
  grid-row-end: 17;
  height: 100%;
  border: 1px solid #0000001b;
  border-radius: 4px;
  background-color: #00000041;
}
/* Opening Hours ends */

/* about ends */

/* photos starts */
.header-photos {
  background-image: url(../img/background-photos.jpeg);
  background-color: #501f0799;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh; /* height: 95vh to show that we can scroll down to the content */
}

.photos {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(13, 5vw);
  gap: 10px;
  padding: 0 15px;
}

/* Setting the gallery properties starts */
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery-item-2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery-item-3 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 8;
}

.gallery-item-4 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 8;
}

.gallery-item-5 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 11;
}

.gallery-item-6 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 8;
  grid-row-end: 14;
}

.gallery-item-7 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 14;
}

/* Setting the gallery properties ends */

/* photos ends */

/* contact starts */
.header-contact {
  background-image: url("../img/background-contact.jpeg");
  background-color: #501f0799;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh; /* height: 95vh to show that we can scroll down to the content */
}

/* Full div */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

/* first part of the div (Texts) */
.contact-options {
  grid-column: 1/3;
  margin: auto;
  padding: 0 40px;
  padding-bottom: 15px;
}

.contact-options ol li {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 300;
}

.contact-options span {
  font-style: italic;
}

.contact-options p {
  text-align: center;
  padding-bottom: 10px;
  font-size: 2rem;
}

/* Location, Number and Email address */
.contact-info-div {
  order: 3;
  padding-right: 20px;
}

/* Individual Info start */
.contact-info {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 300;
  padding-left: 30px;
  margin-top: 10px;
  font-family: "Playfair", sans-serif;
}

.contact-info p,
.contact-info a {
  padding-left: 10px;
}

.contact-info a {
  color: #fff;
}

.material-symbols-outlined {
  font-size: 2.4rem !important;
  font-weight: 100 !important;
}
/* Individual Info ends */

/* Styling the form starts */
.form-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 20px;
  margin: auto;
}

.input-info {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  height: 50px;
  color: #fff;
  padding-left: 10px;
  font-size: 1.3rem;
  font-family: "Playfair", sans-serif;
}

.input-info::placeholder,
textarea::placeholder {
  color: #fff;
}

.input-info:focus,
textarea:focus {
  outline: none !important;
}

input[type="date"] {
  display: block;
}

/* Calendar Icon starts */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(1);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}
/* Calendar Icon ends */

/* textarea starts */

textarea {
  display: block;
  resize: vertical;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-left: 10px;
  margin-top: 5px;
  font-size: 1.3rem;
  font-family: "Playfair", sans-serif;
}

/* textarea starts */

/* Styling the button form */
.form-btn {
  height: 40px;
  cursor: pointer;
  border: 1px solid #fff;
  width: 150px;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  transition: font-size 400ms;
}

.form-btn:hover {
  font-size: 1rem;
}

/* Styling the form ends */
/* contact ends */

/* footer starts */

footer {
  color: #fff;
  background-color: #1c1b1ce0;
}

footer .container {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.phone-number {
  text-align: center;
  font-size: 1.8rem;
}

.phone-number a {
  font-size: 2rem;
}

.phone-number a {
  color: #fff;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media h4 {
  font-size: 1.8rem;
}

.social-media-icon-div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.social-media-icon {
  width: 2.5rem;
  margin-right: 15px;
}

.copyright {
  text-align: center;
  padding: 30px 20px 20px 20px;
}

/* footer ends */
